<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Eleks/Work/Tranings/TestingDockerWithGradle/src/test/java/myTest.BasicTest.java">
        <classes>
            <class name="myTest.BasicTest"/>
        </classes>
    </test>
</suite>